.trending {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pagination {
  padding-top: 50px;

  display: flex;
  justify-content: center;
  size: 20px;
}
.pageTitle {
  font-size: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
